@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate,
a,
a:hover {
  transition: all 0.3s ease-in-out;
}

.category-card {
  position: relative;
}

.category-card .relative {
  position: relative;
}

.category-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  z-index: 1;
  pointer-events: none;
}

.category-card:hover .text-container {
  margin-bottom: 20px;
}

.category-card:hover .arrow-container,
.nav-element:hover .arrow-container {
  transform: translateX(18px);
  opacity: 1;
}

.skornenn-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 43, 75, 0.5) 0%,
    rgba(0, 43, 75, 0.5) 100%
  );
  z-index: 1;
  pointer-events: none;
}

.slide-in {
  animation: slideIn 0.3s ease-out forwards;
}

.slide-out {
  animation: slideOut 0.3s ease-in forwards;
}

.reverseSlide-in {
  animation: reverseSlideIn 0.3s ease-out forwards;
}

.reverseSlide-out {
  animation: reverseSlideOut 0.3s ease-in forwards;
}

.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes reverseSlideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes reverseSlideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.label-radio[type="radio"] {
  display: none;
}

.label-radio {
  font-family: "Outfit";
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  font-weight: 200;
}

.label-radio:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #fff;
  margin-top: 7px;
  font-weight: 200;
}

/* Style du cercle intérieur du bouton radio quand sélectionné */
.label-radio:checked + .label-radio:after {
  font-family: "Outfit";
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #e0aa3e;
  margin-top: 7px;
  font-weight: 300;
}

.accordion-content {
  height: 0;
  opacity: 0;
}

/* Ajoutez ce CSS dans votre fichier global de styles ou dans un fichier CSS importé */
.custom-checkbox:checked::after {
  content: "";
  display: block;
  width: 8px;
  height: 16px;
  border: solid 2px white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-checkbox {
  position: relative;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
}

.custom-checkbox input:checked + span {
  background-color: #e0aa3e; /* ou toute autre couleur que vous souhaitez pour le fond de la checkbox */
}

/* CheckboxWithWhiteCheck.css */
.custom-checkbox:checked + span {
  background-color: #e0aa3e; /* Couleur de fond lorsque la checkbox est cochée */
  border-color: #e0aa3e;
}

.custom-checkbox:checked + span .checkmark {
  opacity: 1;
  display: block;
  stroke: white; /* Couleur du check */
}

.reload-button {
  transition: transform 0.5s ease;
}

.reload-button:hover .icon {
  transform: rotate(160deg);
  transition: transform 0.5s ease;
}
.reload-button:hover p {
  opacity: 0.7;
}
